/* Global stylesheet */
@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
}

@media (min-width: 1200px) {
  .container {
    max-width: 768px;
    padding: 0px;
  }
}

.btn:focus, .btn.focus {
  box-shadow: none;
}
